<a href="https://colab.research.google.com/github/adindaops/Machine-Learning/blob/main/Week7_Sklearn%20LightGBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# read the data into a pandas datafrome
df_train = pd.read_csv('drive/MyDrive/Kaggle/w7/train.csv')
df_test = pd.read_csv('drive/MyDrive/Kaggle/w7/test.csv')

print(df_train.shape)
print(df_test.shape)

(42000, 785)
(28000, 784)

In [ ]:
X = df_train.drop('label', axis=1)
y = df_train['label']

X_test = df_test

print(X.shape)
print(y.shape)
print(X_test.shape)

(42000, 784)
(42000,)
(28000, 784)

In [ ]:
%%time

from lightgbm import LGBMClassifier

lgbm = LGBMClassifier(objective='multiclass', random_state=5)

lgbm.fit(X, y)

y_pred = lgbm.predict(X_test)

CPU times: user 5min 12s, sys: 698 ms, total: 5min 13s
Wall time: 2min 38s

In [ ]:
y_pred.shape

(28000,)

In [ ]:
# The index should start from 1 instead of 0
df = pd.Series(range(1,28001),name = "ImageId")

ID = df

submission = pd.DataFrame({'ImageId':ID, 
                           'Label':y_pred, 
                          }).set_index('ImageId')

submission.to_csv('mnist_lgbm.csv', columns=['Label'])

In [ ]:
submission.head()

         Label
ImageId
1            2
2            0
3            9
4            9
5            3